
  .expandable-table tr td {
    font-size: 14px;
}
.dataTables_wrapper {
    font-size: 14px;
}

.display thead th .DataTables_sort_wrapper span { 
   float: right; 
   }

   .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #4B49AC !important;
  background:#4B49AC !important;
  /* background-color: #4B49AC !important; */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858),
   color-stop(100%, #4B49AC)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(top, #585858 0%, #4B49AC 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -moz-linear-gradient(top, #585858 0%, #4B49AC 100%); */
  /* FF3.6+ */
  /* background: -ms-linear-gradient(top, #585858 0%, #4B49AC 100%); */
  /* IE10+ */
  /* background: -o-linear-gradient(top, #585858 0%, #4B49AC 100%); */
  /* Opera 11.10+ */
  /* background: linear-gradient(to bottom, #585858 0%,#4B49AC 100%); */
   /* W3C */
} 

