
  .expandable-table tr td {
    font-size: 14px;
}
.dataTables_wrapper {
    font-size: 14px;
}

.display thead th .DataTables_sort_wrapper span { 
   float: right; 
   }

   .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #4B49AC !important;
  background:#4B49AC !important;
 
} 

table.dataTable thead th{
  padding: 10px 9px !important;
  border-bottom: 1px solid #111;
}